.categories {
  padding-bottom: 50px;
  h3 {
    text-align: center;
    padding-top: 50px;
    @include textStyle(700, 18, 22px);
  }

  ul {
    @include flexCenter();
    flex-direction: column;
    gap: 30px;
    width: 166px;
    height: 918px;
    margin: 40px auto 0;
    li {
      width: 166px;
      height: 128px;
      background: #f2f3f6;
      border-radius: 10px;
      @include flexCenter();
      flex-direction: column;
      &:hover {
        background: #1a75e8;
        color: white;
        cursor: pointer;
        transition: 0.5s;
      }
    }
    i {
      margin-bottom: 15px;
    }
  }
}
